/*
 * Styles for the deck of cards
 */
.deck {
    width: 42.5em; /*680px*/
    min-height: 42.5em; /*680px*/
    background: linear-gradient(160deg, rgba(39, 47, 66, 0.8) 0%, rgba(98, 191, 228, 0.5) 100%);
    padding: 2em;  /*32px*/
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 0 0 3em;
}
